<div class="container">
    <h1>Edit {{ctrl.task.status}}</h1>
    <hr>
    <div class="row">
        <div class="product col-lg-8 col-md-6 col-sm-12">
            <form name="saveForm" ng-submit="ctrl.save();">
                <div class="form-group">
                    <label for="title">Task Status:</label>
                    <input class="form-control" type="text" id="title" ng-model="ctrl.task.status" required>
                </div>
                <div class="form-group">
                    <label for="title">Category:</label>
                    <input class="form-control" type="text" id="title" ng-model="ctrl.task.category" required>
                </div>
                <div class="form-group">
                    <label for="title">Due Date:</label>
                    <input class="form-control" type="text" id="title" ng-model="ctrl.task.due_date" required>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-default" ng-click="ctrl.cancel();">Cancel</button>
                <button type="button" class="btn btn-danger" ng-click="ctrl.remove();">Remove</button>
            </form>
        </div>
    </div>
</div>